.main{
  margin-top: 200px;
  text-align: center;
  font-size: 30px;
  display: grid;
  justify-content: center;
  gap: 20px;
}

.action{
  border-radius: 15px;
  border: 2px solid salmon;
  width: 200px;
  cursor: pointer;
}